<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.high.court">




    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:name=".HighCourtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />



        <activity android:name=".activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".activities.ExicutiveCommettieeActivity"
                  />

        <activity android:name=".activities.HonbleJudgesActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.MemberDirectoryActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.NoificationActivity"
                  android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity android:name=".activities.DisplayBoardActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.MySubscriptionActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.RosterActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.ProfileActivity"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.CalenderActivity"
                  android:windowSoftInputMode="stateHidden" >

        </activity>

        <activity android:name=".activities.ChangePassword"
                  android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.ExicutiveMemberDetail"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.HighCourtActivity" />


        <activity android:name=".activities.HonableMemberDetail" />
        <activity android:name=".activities.ProfileActivity2" />

        <activity android:name=".activities.DisplayBoardDetail" />
        <activity android:name=".activities.CaseLowActivity" />
        <activity android:name=".activities.CommingSoonActivity"></activity>
        <activity android:name=".activities.WebViewActivity"/>


    </application>

</manifest>